<!DOCTYPE html>
<html>
<head>
  <title>Успешное оформление заказа</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <style>
    body {
  background-color: #f2f2f2;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.success-icon img {
  width: 100px;
  height: 100px;
}

h2 {
  margin-top: 20px;
  text-align: center;
}
  </style>
</head>
<body>
  <div class="success-container">
    <div class="success-icon">
      <img src="checkmark.png" alt="Галочка">
    </div>
    <h2>Заказ успешно оформлен</h2>
  </div>
</body>
</html>
